.form-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
    background-image: url('http://localhost:3000/uploads/1735986558147-621009921.jpg');
    background-size: cover;
    background-position: top;
}
.form-container {
    background-color: #ffffff;
    width: 300px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.form-container h2 {
    text-align: center; /* 只让标题居中 */
}
.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.form-row > div {
    width: 100%;
    margin-bottom: 15px; /* 调整这里的值来控制距离 */
}
.form-row > div:last-child {
    width: 100%;
    margin-bottom: 0;
}
.form-row label {
    display: block;
    margin-bottom: 5px;
}
.form-row input, .form-row select {
    width: 100%;
    padding: 5px;
}
.form-row button {
    padding: 10px 20px;
    background-color: #a00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form-row button:hover {
    background-color: #900;
}
.dropdown {
    width: 97%;
}
.dropdown-content {
    width: 100%;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
    display: block;
}