<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Issue</title>
    <link rel="stylesheet" href="../table.css">
    <link rel="stylesheet" href="../banner.css">
    <script src="../table.js"></script>
</head>
<body>
    <a href="/" class="banner-link">
        <div class="banner">
            <img src="http://localhost:3000/uploads/1735823331237-841608623.png" alt="Logo">
            <div>竞赛贯通·广学五题坊</div>
            <div class="english">Class 14·Xuguang Olympiad Workshop</div>
        </div>
    </a>

    <h2>Issue 题目列表</h2>
    <table id="issuesTable">
        <thead>
            <tr>
                <th class="sortable-header" onclick="table.sortTable('id')">编号 <span class="arrow">▲▼</span></th>
                <th class="sortable-header" onclick="table.sortTable('time')">时间 <span class="arrow">▲▼</span></th>
                <th>题目名称</th>
                <th>学科</th>
                <th class="sortable-header" onclick="table.sortTable('submit_num')">提交次数 <span class="arrow">▲▼</span></th>
                <th class="sortable-header" onclick="table.sortTable('score')">评分 <span class="arrow">▲▼</span></th>
                <th>作者</th>
            </tr>
        </thead>
        <tbody id="tbody">
            <!-- Data will be inserted here -->
        </tbody>
    </table>

    <ul class="pagination" id="pagination"></ul>

    <script>
        var issueId = -1;

        // 获取 URL 参数
        function getIssueIdFromUrl() {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get('issueId');
        }

        const table = new Table('tbody',
            (problem) => {
                var file_path = problem.file_path;
                file_path = file_path.substring(file_path.lastIndexOf('/') + 1);
                return `
                    <td>${problem.id}</td>
                    <td>${problem.time}</td>
                    <td><a href="/mdreader/preview?file=${file_path}">${problem.name}</a></td>
                    <td>${problem.subject}</td>
                    <td>${problem.submit_num}</td>
                    <td>${problem.score}</td>
                    <td>${problem.author}</td>
                `;
            },
            (tb) => {
                issueId = getIssueIdFromUrl();
                console.log(issueId);
                let url = `/getProblemsInIssue?issueId=${issueId}&sortField=${tb.sortField}&sortOrder=${tb.sortOrder}&page=${tb.currentPage}&pageSize=${tb.pageSize}`;
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        url = `/getProblemsInIssue/count?issueId=${issueId}`;
                        fetch(url)
                            .then(response => response.json())
                            .then(count => { tb.generate(data, count.count); });
                    });
            }
        );

        // 初次加载
        table.reset(table);
    </script>
</body>
</html>