body{
    font-size: 18px;
    font-family: "Avenir Next", "Avenir" ,-apple-system, system-ui,
        BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
}

html,
body{
    height: 100%;
    overflow: hidden;
}

.main-content{
    display: flex;
    height: 100%;
    overflow: hidden;
}
.text-editor{
    flex: 1;
    padding: 30px;
    border: 0;
    resize: none;
    background: #ffffff;
    color: #333333;
    scroll-behavior: smooth;
    overflow: auto;
}

.markdown-body{
    flex: 1;
    border: 0;
    padding: 50px;
    background: #f3f3f3;
    color: #3d3d3d;
    scroll-behavior: smooth;
    overflow: auto;
}